.standard-header {
  background: #2B2B2B;
  height: 100px;
  font-size: 3em;
  display: flex;
  align-items: center;
  color: #fff;
  text-align: center;
  letter-spacing: 0.04em;
  justify-content: center;
  padding: 60px 0px 15px 0px;
}

.standard-container {
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
  height: 100%;
  input {
    font-family: "brandon-grotesque", sans-serif;
    width: calc(100% - 20px);
    margin: 30px 0px;
    padding: 12px;
    color: #444;
    border: none;
    -webkit-appearance: none;
    border-radius: 2px;
    -webkit-tap-highlight-color: transparent;
    font-size: 1.1em;
    font-weight: 300;
    letter-spacing: 0.04em;
    outline: none;
    border: 1px solid #ddd;
  }
}

.support-category {
  .header {
    font-family: "brandon-grotesque",sans-serif;
    font-size: 2.3em;
    line-height: 1.2em;
    text-Transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.06em;
    border-bottom: 1px solid #ddd;
    padding: 10px 0px;
    cursor: pointer;
  }
  .content {
    margin: 10px 0px;
    .question {
      line-height: 1.4em;
      font-size: 1.4em;
      color: #5C76A7;
      cursor: pointer;
      transition: all 0.1s linear;
      &:hover {
        color: #3C4A65;

      }
    }
  }
  &:not(:nth-child(2)) {
    margin-top: 40px;
  }
}

.standard-btn {
  padding: 12px 14px;
  text-transform: uppercase;
  margin: 0 8px;
  width: 280px;
  color: #fff;
  text-align: center;
  font-size: 1.2em;
  letter-spacing: 0.08em;
  border-radius: 4px;
  font-weight: 300;
  cursor: pointer;
  margin-bottom: 0.3em;
  background: #258199;
  display: flex;
  align-items: center;
  justify-content: center;
}

.support-flex {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row !important;
  justify-content: space-around !important;
  flex-wrap: wrap;
}