
<!DOCTYPE html>
<html ng-app="ontelsite">
<head>
    <script src="js/foundation/foundation.js"></script>
    <script src="js/foundation/foundation.equalizer.js"></script>
    <!--<script src="js/jquery.matchHeight-min.js"></script>-->
    <script>
        $(function() {
            $(document).foundation('equalizer', 'reflow');
            setTimeout(function(){
                $(window).trigger('resize');
                $(window).resize();
            }, 0);

            $('.center').slick({
                centerMode: true,
                centerPadding: '60px',
                slidesToShow: 3,
                arrows: true,
                variableWidth: false,
                responsive: [
                    {
                        breakpoint: 768,
                        settings: {
                            arrows: true,
                            centerMode: true,
                            centerPadding: '40px',
                            slidesToShow: 1
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            arrows: true,
                            centerMode: true,
                            centerPadding: '40px',
                            slidesToShow: 1
                        }
                    }
                ]
            });
            $(window).resize(function() {
//                console.log("resizing");
                $(document).foundation('equalizer', 'reflow');
            });
        });
        $(window).load(function(){
//            console.log("ok");
            $(window).resize();
            $(document).foundation('equalizer', 'reflow');

        });
    </script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-61953702-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>
<!--<nav id="sidemenu"></nav>-->
<div id="bodywrapper" ng-class="{'active':mobilenav}">
    <section id="landing" name="home">
        <ul class="main-slider bxslider" style="width: auto; position: relative;">
            <li>
                <div class="caption">
                    <div class="vertical-align welcome">
                        <div class="caption-title-mobile">
                            <span style="display: none;">People</span>
                            <span style="display: none;">Technology</span>
                            <span style="display: none;">Solutions</span>
                        </div>
                        <h1 class="caption-title cap-anim animated fadeInDown" data-animation="fadeInDown" style="visibility: visible;">People &#8226; Technology &#8226; Solutions</h1>
                        <p class="caption-subtitle cap-anim animated fadeInUp" data-animation="fadeInUp" style="visibility: visible;">Everything you need to work smarter, closeout faster, and deliver better.</p>
                    </div>
                </div>
            </li>
        </ul>
        <a href="" class="down softwaredown"><i class="fa fa-angle-down"></i></a>
    </section>
    <section id="software" name="software">
        <div class="container titlecontainer">
            <div class="titlelines"></div>Software<div class="titlelines">
        </div>
        </div>
        <div class="container">
            <table id="fullprodtable">
                <tr><td class="productcontainer"><div class="productlogo">SC</div></td><td class="productcontainer"><div class="productlogo">UL</div></td><td class="productcontainer"><div class="productlogo">SA</div></td></tr>
                <tr><td><div class="producttitle">ScoreCard</div></td><td><div class="producttitle">Uplink</div></td><td><div class="producttitle">SweepAnalytics</div></td></tr>
                <tr>
                    <td><div class="productdesc" ng-bind-html="sctext">

                    </div></td>
                    <td><div class="productdesc" ng-bind-html="ultext">

                    </div></td>
                    <td><div class="productdesc" ng-bind-html="satext">

                    </div></td></tr>
                <!--<tr><td><div class="moreinfo" ng-click="go('/software/uplink')">More Info</div></td><td><div class="moreinfo" ng-click="go('/software/scorecard')">More Info</div></td><td><div class="moreinfo" ng-click="go('/software/sweepanalytics')">More Info</div></td></tr>-->

            </table>
            <div id="mobileproducts">
                <div class="productcontainer" style="margin-bottom: 40px;">
                    <div class="productlogo">SC</div>
                    <div class="producttitle">ScoreCard</div>
                    <div class="productdesc" ng-bind-html="sctext">

                    </div>
                    <!--<div class="moreinfo" ng-click="go('/software/scorecard')">More Info</div>-->
                </div>
                <div class="productcontainer" style="margin-bottom: 40px;">
                    <div class="productlogo">UL</div>
                    <div class="producttitle">Uplink</div>
                    <div class="productdesc" ng-bind-html="ultext">

                    </div>
                    <!--<div class="moreinfo" ng-click="go('/software/uplink')">More Info</div>-->
                </div>
                <div class="productcontainer">
                    <div class="productlogo">SA</div>
                    <div class="producttitle">SweepAnalytics</div>
                    <div class="productdesc" ng-bind-html="satext">

                    </div>
                    <!--<div class="moreinfo" ng-click="go('/software/sweepanalytics')">More Info</div>-->
                </div>
            </div>
        </div>
    </section>
    <!--<section id="services" name="services">-->
        <!--<div class="container titlecontainer">-->
            <!--<div class="titlelines"></div>Services<div class="titlelines">-->
        <!--</div>-->
        <!--</div>-->
            <!--<div class="slider center servicesmob" data-equalizer>-->
                <!--<div><h3>-->
                    <!--<div  data-equalizer-watch><div class="servicename">-->
                        <!--<i class="fa fa-check"></i>-->
                    <!--</div>-->
                        <!--<div class="heading">Closeout and Testing</div><div class="servicedesc servicedescmob" ><span class="">From testing to photography, technical review, automation, and QA, our closeout services help deliver a COP that meets the customer's spec faster than anyone else.</span></div></div>-->
                <!--</h3></div>-->
                <!--&lt;!&ndash;<div><h3>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class=""><div class="servicename">&ndash;&gt;-->
                        <!--&lt;!&ndash;<i class="fa fa-code"></i>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<h1>Software</h1><div class="servicedesc servicedescmob" data-equalizer-watch><span class="">We design and adapt software specifically for wireless construction companies. We have developed tailored software such as SweepAnalytics™ for Automated Testing Validation, ScoreCard™ for Performance Analysis, and Uplink™, our Wireless Construction mobile application.</span></div></div>&ndash;&gt;-->
                <!--&lt;!&ndash;</h3></div>&ndash;&gt;-->
                <!--<div><h3>-->
                    <!--<div  data-equalizer-watch><div class="servicename">-->
                        <!--<i class="fa fa-cogs"></i>-->
                    <!--</div>-->
                        <!--<div class="heading">Hardware</div><div class="servicedesc servicedescmob" ><span class="">Our ComPack&#8482; is everything your crews need to close-out in real time, no excuses. By providing one integrated hardware solution, we've made it as simple as it gets to receive live data from the field so that it can be processed and approved on the fly.</span></div></div>-->
                <!--</h3></div>-->
                <!--<div><h3>-->
                    <!--<div data-equalizer-watch><div class="servicename">-->
                        <!--<i class="fa fa-users"></i>-->
                    <!--</div>-->
                        <!--<div class="heading">Management</div><div class="servicedesc servicedescmob" ><span class="">Our construction and project management services have been used by the largest carriers and contractors in the industry, we have a passion for building and innovating that shows in the way we execute wireless construction projects.</span></div></div>-->
                <!--</h3></div>-->
                <!--<div><h3>-->
                    <!--<div data-equalizer-watch><div class="servicename">-->
                        <!--<i class="fa fa-map-marker"></i>-->
                    <!--</div>-->
                        <!--<div class="heading">Reporting and Coordination</div><div class="servicedesc servicedescmob" ><span class="">With Uplink&#8482;, coordination and reporting has never been easier, but for when technology just can't cut it, we have the best live staff support and report for you all the way through.</span></div></div>-->
                <!--</h3></div>-->
                <!--<div><h3>-->
                    <!--<div data-equalizer-watch><div class="servicename">-->
                        <!--<i class="fa fa-lightbulb-o"></i>-->
                    <!--</div>-->
                        <!--<div class="heading">Training and Support</div><div class="servicedesc servicedescmob" ><span class="">Training and support to get the job done right, but most importantly the first time. Our training services are designed to be immersive and efficient, helping your team cost effectively get the training they need throughout the project. This support comes complementary with all services.</span></div></div>-->
                <!--</h3></div>-->
                <!--<div><h3>-->
                    <!--<div data-equalizer-watch><div class="servicename">-->
                        <!--<i class="fa fa-bar-chart"></i>-->
                    <!--</div>-->
                        <!--<div class="heading">Metrics</div><div class="servicedesc servicedescmob" ><span class="">Measuring performance is key to improving it. Ontel puts the right information where you need it, allowing your team to instantly access KPI's, without needing anything more than a phone.</span></div></div>-->
                <!--</h3></div>-->
                <!--<div><h3>-->
                    <!--<div data-equalizer-watch><div class="servicename">-->
                        <!--<i class="fa fa-truck"></i>-->
                    <!--</div>-->
                        <!--<div class="heading">General Contracting</div><div class="servicedesc servicedescmob" ><span class="">We are a licensed general contractor aiming to provide the highest skilled, safe, and most customer oriented crews possible. We excel in most scopes of work surrounding LTE.</span></div></div>-->
                <!--</h3></div>-->
            <!--</div>-->


    <!--</section>-->
    <section id="about" name="about">
        <div class="container titlecontainer" >
            <div class="titlelines"></div>Who We Are<div class="titlelines">
        </div>
        </div>
        <div id="companydescription" class="container">
            Founded in 2013, Ontel is a Washington, DC based consultancy that provides specialized technology, management, and administration for General and Technical Contractors in the telecommunications industry.
        </div>
        <div id="pastclients" class="container">
            <span>Prior to founding Ontel, we built and managed wireless projects for many of America's largest carriers, equipment manufacturers, and implementation services companies:</span>
            <div class="clientlogos">
                <div class="col fourth">
                    <img src="logos/al.png">
                </div>
                <div class="col fourth">
                    <img src="logos/att.png">
                </div>
                <div class="col fourth">
                    <img src="logos/clear.png">
                </div>
                <div class="col fourth">
                    <img src="logos/cricket.png">
                </div>
            </div>
            <div class="clientlogos">
                <div class="col fourth">
                    <img src="logos/ericsson.png">
                </div>
                <div class="col fourth">
                    <img src="logos/sprint.png">
                </div>
                <div class="col fourth">
                    <img src="logos/tmobile.png">
                </div>
                <div class="col fourth">
                    <img src="logos/verizon.png">
                </div>
            </div><br style="clear: both">
        </div>
        <div class="fineprint">The above companies are not affiliated with Ontel.</div>
    </section>
    <!--<section id="team" name="team">-->
        <!--<div class="container titlecontainer">-->
            <!--<div class="titlelines"></div>Our Team<div class="titlelines">-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="container flex-container">-->
            <!--<div class="flex-container">-->
                <!--<div class="membercontainer">-->
                    <!--<div class="headshot">-->
                        <!--<img src="headshots/kris.png">-->
                    <!--</div>-->
                    <!--<div class="membername"><img src="headshots/kris.png"><div><span class="memname">Kris Kerr</span><span class="memtitle">CEO</span></div></div>-->
                <!--</div>-->
                <!--<div class="membercontainer">-->
                    <!--<div class="headshot">-->
                        <!--<img src="headshots/justin.png">-->
                    <!--</div>-->
                    <!--<div class="membername"><img src="headshots/justin.png"><div><span class="memname">Justin Bailey</span><span class="memtitle">CTO</span></div></div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="flex-container">-->
                <!--<div class="membercontainer">-->
                    <!--<div class="headshot">-->
                        <!--<img src="headshots/gary.png">-->
                    <!--</div>-->
                    <!--<div class="membername"><img src="headshots/gary.png"><div><span class="memname">Gary Yuen</span><span class="memtitle">VP of Technical Services</span></div></div>-->
                <!--</div>-->
                <!--<div class="membercontainer">-->
                    <!--<div class="headshot">-->
                        <!--<img src="headshots/mckenny.png">-->
                    <!--</div>-->
                    <!--<div class="membername"><img src="headshots/mckenny.png"><div><span class="memname">McKenny Corbin</span><span class="memtitle">VP of Construction</span></div></div>-->
                <!--</div>-->
                <!--<div class="membercontainer">-->
                    <!--<div class="headshot">-->
                        <!--<img src="headshots/brandon.png">-->
                    <!--</div>-->
                    <!--<div class="membername"><img src="headshots/brandon.png"><div><span class="memname">Brandon Funkhouser</span><span class="memtitle">VP of Technology</span></div></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->

    <section id="contact" name="contact">
        <div class="container titlecontainer">
            <div class="titlelines"></div>Let's Talk<div class="titlelines">
        </div>
        </div>
        <div id="contactinfo">
            <div id="email"><a href="mailto:hello@ontel.co">hello@ontel.co</a></div>
            <div id="tel"><a href="tel:12029301434">(202) 930-1434</a></div>
        </div>
        <div id="mapcontainer">
            <div class="mapaddress">321 18th St. SE Unit 7, Washington, DC 20003</div>
            <map id="map-canvas"></map>
        </div>
    </section>
    <footer>
        <div class="footleft">People &#8226; Technology &#8226; Solutions</div>
        <div class="footright">&#169; 2014 Ontel LLC. <span class="arr">All rights reserved.</span></div>
    </footer>
</div>
<script>

    function tick() {
        var $obj = $(".caption-title-mobile span");
//        $obj.first().fadeIn().delay(1000).fadeOut(function () {
        $obj.first().fadeIn(1000).addClass("animatedslower flipInOutX").delay(3500).fadeOut(function () {
            $obj.first().removeClass("animatedslower flipInOutX");
            $obj.first().insertAfter($obj.last());
            tick();
        });
    }
    tick();



</script>
</body>
</html>