
<!DOCTYPE html>
<html ng-app="ontelsite">
<head>
    <script src="js/foundation/foundation.js"></script>
    <script src="js/foundation/foundation.equalizer.js"></script>
    <!--<script src="js/jquery.matchHeight-min.js"></script>-->
    <script>
        $(function() {
            $(document).foundation('equalizer', 'reflow');
            setTimeout(function(){
                $(window).trigger('resize');
                $(window).resize();
            }, 0);

            $('.center').slick({
                centerMode: true,
                centerPadding: '60px',
                slidesToShow: 3,
                arrows: true,
                variableWidth: false,
                responsive: [
                    {
                        breakpoint: 768,
                        settings: {
                            arrows: false,
                            centerMode: true,
                            centerPadding: '40px',
                            slidesToShow: 1
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            arrows: false,
                            centerMode: true,
                            centerPadding: '40px',
                            slidesToShow: 1
                        }
                    }
                ]
            });
            $(window).resize(function() {
                console.log("resizing");
            });
        });
        $(window).load(function(){
            console.log("ok");
            $(window).resize();

        });
    </script>
</head>
<body>
<nav id="sidemenu"></nav>
<div id="bodywrapper" ng-class="{'active':mobilenav}">
    <section id="landing" name="home">
        <ul class="main-slider bxslider" style="width: auto; position: relative;">
            <li>
                <div class="caption">
                    <div class="vertical-align welcome">
                        <div class="caption-title-mobile">
                            <span style="display: none;">People</span>
                            <span style="display: none;">Technology</span>
                            <span style="display: none;">Solutions</span>
                        </div>
                        <h1 class="caption-title cap-anim animated fadeInDown" data-animation="fadeInDown" style="visibility: visible;">People &#8226; Technology &#8226; Solutions</h1>
                        <p class="caption-subtitle cap-anim animated fadeInUp" data-animation="fadeInUp" style="visibility: visible;">Everything you need to work smarter, closeout faster, and deliver better.</p>
                    </div>
                </div>
            </li>
        </ul>
        <a href="" class="down softwaredown"><i class="fa fa-angle-down"></i></a>
    </section>
    <section id="software" name="software">
        <div class="container titlecontainer">
            <div class="titlelines"></div>Software<div class="titlelines">
        </div>
        </div>
        <div class="container">
            <table id="fullprodtable">
                <tr><td class="productcontainer"><div class="productlogo">UL</div></td><td class="productcontainer"><div class="productlogo">SC</div></td><td class="productcontainer"><div class="productlogo">SA</div></td></tr>
                <tr><td><div class="producttitle">ScoreCard</div></td><td><div class="producttitle">Uplink</div></td><td><div class="producttitle">SweepAnalytics</div></td></tr>
                <tr>
                    <td><div class="productdesc" ng-bind-html="sctext">

                    </div></td>
                    <td><div class="productdesc" ng-bind-html="ultext">

                    </div></td>
                    <td><div class="productdesc" ng-bind-html="satext">

                    </div></td></tr>
                <!--<tr><td><div class="moreinfo" ng-click="go('/software/uplink')">More Info</div></td><td><div class="moreinfo" ng-click="go('/software/scorecard')">More Info</div></td><td><div class="moreinfo" ng-click="go('/software/sweepanalytics')">More Info</div></td></tr>-->

            </table>
            <div id="mobileproducts">
                <div class="productcontainer" style="margin-bottom: 40px;">
                    <div class="productlogo">SC</div>
                    <div class="producttitle">ScoreCard</div>
                    <div class="productdesc" ng-bind-html="sctext">

                    </div>
                    <!--<div class="moreinfo" ng-click="go('/software/scorecard')">More Info</div>-->
                </div>
                <div class="productcontainer" style="margin-bottom: 40px;">
                    <div class="productlogo">UL</div>
                    <div class="producttitle">Uplink</div>
                    <div class="productdesc" ng-bind-html="ultext">

                    </div>
                    <!--<div class="moreinfo" ng-click="go('/software/uplink')">More Info</div>-->
                </div>
                <div class="productcontainer">
                    <div class="productlogo">SA</div>
                    <div class="producttitle">SweepAnalytics</div>
                    <div class="productdesc" ng-bind-html="satext">

                    </div>
                    <!--<div class="moreinfo" ng-click="go('/software/sweepanalytics')">More Info</div>-->
                </div>
            </div>
        </div>
    </section>
    <section id="services" name="services">
        <div class="container titlecontainer">
            <div class="titlelines"></div>Services<div class="titlelines">
        </div>
        </div>
            <div class="slider center servicesmob" data-equalizer>
                <div><h3>
                    <div class=""><div class="servicename">
                        <i class="fa fa-check"></i>
                    </div>
                        <h1>Closeout and Testing</h1><div class="servicedesc servicedescmob" data-equalizer-watch><span class="">From us testing on site or remotely to photography, technical review, automation, and QA, our closeout services help deliver a COP that meets the customer's spec faster than anyone else.</span></div></div>
                </h3></div>
                <!--<div><h3>-->
                    <!--<div class=""><div class="servicename">-->
                        <!--<i class="fa fa-code"></i>-->
                    <!--</div>-->
                        <!--<h1>Software</h1><div class="servicedesc servicedescmob" data-equalizer-watch><span class="">We design and adapt software specifically for wireless construction companies. We have developed tailored software such as SweepAnalytics™ for Automated Testing Validation, ScoreCard™ for Performance Analysis, and Uplink™, our Wireless Construction mobile application.</span></div></div>-->
                <!--</h3></div>-->
                <div><h3>
                    <div class=""><div class="servicename">
                        <i class="fa fa-cogs"></i>
                    </div>
                        <h1>Hardware</h1><div class="servicedesc servicedescmob" data-equalizer-watch><span class="">Our ComPacks&#8482; connect you with your team in a streamlined and simple manner. Our integrate hardware solutions put us in the field with your crews to support and closeout in realtime.</span></div></div>
                </h3></div>
                <div><h3>
                    <div class=""><div class="servicename">
                        <i class="fa fa-map-marker"></i>
                    </div>
                        <h1>Reporting and Coordination</h1><div class="servicedesc servicedescmob" data-equalizer-watch><span class="">With our team, your COP services are augmented by live staff that can help them bridge the gap between reporting and getting the work done, so that you can get the information into and out of the field necessary to get the job done right.</span></div></div>
                </h3></div>
                <div><h3>
                    <div class=""><div class="servicename">
                        <i class="fa fa-lightbulb-o"></i>
                    </div>
                        <h1>Training and Support</h1><div class="servicedesc servicedescmob" data-equalizer-watch><span class="">Training and support to get the job done right, but most importantly the first time. Our training services are designed to be immersive and efficient, helping your team cost effectively get the training they need throughout the project.</span></div></div>
                </h3></div>
                <div><h3>
                    <div class=""><div class="servicename">
                        <i class="fa fa-bar-chart"></i>
                    </div>
                        <h1>Metrics</h1><div class="servicedesc servicedescmob" data-equalizer-watch><span class="">Measuring performance is key to improving it. Ontel puts the right information where you need it, allowing your team to instantly access KPI's, without needing anything more than a phone.</span></div></div>
                </h3></div>
            </div>

            <div class="container" data-equalizer style="display: none;">
            <ul class="servicelist sl-l">
                <li class="preanimate" >
                    <div class="servicename">
                        <i class="fa fa-check"></i>
                        <div class="service"><h3>Closeout and Testing</h3></div>
                    </div>
                    <div class="servicedesccontainer"><div class="servicedesc" data-equalizer-watch ><span class="preanimate">From us testing on site or remotely to photography, technical review, automation, and QA, our closeout services help deliver a COP that meets the customer's spec faster than anyone else.</span></div></div>
                </li>
                <li class="preanimate">
                    <div class="servicenamecontainer"><div class="servicename">
                        <i class="fa fa-code"></i>
                        <div class="service"><h3>Software</h3></div>
                    </div>
                        <div class="servicedesccontainer"><div class="servicedesc" data-equalizer-watch ><span class="preanimate">We design and adapt software specifically for wireless construction companies. We have developed tailored software such as SweepAnalytics&#8482; for Automated Testing Validation, ScoreCard&#8482; for Performance Analysis, and Uplink&#8482;, our Wireless Construction mobile application.</span></div></div>
                </li>
                <li class="preanimate">
                    <div class="servicenamecontainer"><div class="servicename">
                        <i class="fa fa-cogs"></i>
                        <div class="service"><h3>Hardware</h3></div>
                    </div>
                        <div class="servicedesccontainer"><div class="servicedesc" data-equalizer-watch ><span class="preanimate">Our ComPacks&#8482; connect you with your team in a streamlined and simple manner. Our integrate hardware solutions put us in the field with your crews to support and closeout in realtime.</span></div></div>
                </li>
            </ul>
            <ul class="servicelist sl-r">
                <li class="preanimate">
                    <div class="servicenamecontainer"><div class="servicename">
                        <i class="fa fa-map-marker"></i>
                        <div class="service"><h3>Reporting and Coordination</h3></div>
                    </div>
                        <div class="servicedesccontainer"><div class="servicedesc" data-equalizer-watch ><span class="preanimate">With our team, your COP services are augmented by live staff that can help them bridge the gap between reporting and getting the work done, so that you can get the information into and out of the field necessary to get the job done right.</span></div></div>
                </li>
                <li class="preanimate">
                    <div class="servicenamecontainer"><div class="servicename">
                        <i class="fa fa-lightbulb-o"></i>
                        <div class="service"><h3>Training and Support</h3></div>
                    </div>
                        <div class="servicedesccontainer"><div class="servicedesc" data-equalizer-watch ><span class="preanimate">Training and support to get the job done right, but most importantly the first time. Our training services are designed to be immersive and efficient, helping your team cost effectively get the training they need throughout the project.</span></div></div>
                </li>
                <li class="preanimate">
                    <div class="servicenamecontainer"><div class="servicename">
                        <i class="fa fa-bar-chart"></i>
                        <div class="service"><h3>Metrics</h3></div>
                    </div>
                        <div class="servicedesccontainer"><div class="servicedesc" data-equalizer-watch ><span class="preanimate">Measuring performance is key to improving it. Ontel puts the right information where you need it, allowing your team to instantly access KPI's, without needing anything more than a phone.</span></div></div>
                </li>
            </ul><br style="clear: both">
        </div>
    </section>
    <section id="about" name="about">
        <div class="container titlecontainer">
            <div class="titlelines"></div>Who We Are<div class="titlelines">
        </div>
        </div>
        <div id="companydescription" class="container">
            Founded in 2013, Ontel is a Washington, D.C. based consultancy that provides specialized technology, management, and administration for General and Technical Contractors in the telecommunications industry.
        </div>
        <div id="pastclients" class="container">
            <span>Prior to founding Ontel, we built and managed wireless projects for many of America's largest carriers, equipment manufacturers, and implementation services companies:</span>
            <div class="clientlogos">
                <div class="col fourth">
                    <img src="logos/al.png">
                </div>
                <div class="col fourth">
                    <img src="logos/att.png">
                </div>
                <div class="col fourth">
                    <img src="logos/clear.png">
                </div>
                <div class="col fourth">
                    <img src="logos/cricket.png">
                </div>
            </div>
            <div class="clientlogos">
                <div class="col fourth">
                    <img src="logos/ericsson.png">
                </div>
                <div class="col fourth">
                    <img src="logos/sprint.png">
                </div>
                <div class="col fourth">
                    <img src="logos/tmobile.png">
                </div>
                <div class="col fourth">
                    <img src="logos/verizon.png">
                </div>
            </div><br style="clear: both">
        </div>
        <div class="fineprint">The above companies are not affiliated with Ontel.</div>
    </section>
    <section id="team" name="team">
        <div class="container titlecontainer">
            <div class="titlelines"></div>Our Team<div class="titlelines">
        </div>
        </div>
        <div class="container flex-container">
            <div class="flex-container">
                <div class="membercontainer">
                    <div class="headshot">
                        <img src="headshot.jpg">
                    </div>
                    <div class="membername"><div><span class="memname">Kris Kerr</span><span class="memtitle">CEO</span></div></div>
                </div>
                <div class="membercontainer">
                    <div class="headshot">
                        <img src="headshot.jpg">
                    </div>
                    <div class="membername"><div><span class="memname">Justin Bailey</span><span class="memtitle">CTO</span></div></div>
                </div>
            </div>
            <div class="flex-container">
                <div class="membercontainer">
                    <div class="headshot">
                        <img src="headshot.jpg">
                    </div>
                    <div class="membername"><div><span class="memname">Gary Yuen</span><span class="memtitle">VP of Operations</span></div></div>
                </div>
                <div class="membercontainer">
                    <div class="headshot">
                        <img src="headshot.jpg">
                    </div>
                    <div class="membername"><div><span class="memname">McKenny Corbin</span><span class="memtitle">VP of Construction</span></div></div>
                </div>
                <div class="membercontainer">
                    <div class="headshot">
                        <img src="headshot.jpg">
                    </div>
                    <div class="membername"><div><span class="memname">Brandon Funkhouser</span><span class="memtitle">VP of Technology</span></div></div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" name="contact">
        <div class="container titlecontainer">
            <div class="titlelines"></div>Let's Talk<div class="titlelines">
        </div>
        </div>
        <div id="contactinfo">
            <div id="email"><a href="mailto:hello@ontel.co">hello@ontel.co</a></div>
            <div id="tel">202.621.9453</div>
        </div>
        <div id="mapcontainer">
            <div class="mapaddress">Location: 321 18th St. SE Unit 7, Washington, D.C 20003</div>
            <map id="map-canvas"></map>
        </div>
    </section>
    <footer>
        <div class="footleft">People &#8226; Technology &#8226; Solutions</div>
        <div class="footright">&#169; 2014 Ontel LLC. <span class="arr">All rights reserved.</span></div>
    </footer>
</div>
<script>

    function tick() {
        var $obj = $(".caption-title-mobile span");
//        $obj.first().fadeIn().delay(1000).fadeOut(function () {
        $obj.first().fadeIn(1000).addClass("animatedslower flipInOutX").delay(3500).fadeOut(function () {
            $obj.first().removeClass("animatedslower flipInOutX");
            $obj.first().insertAfter($obj.last());
            tick();
        });
    }
    tick();



</script>
</body>
</html>