
<!DOCTYPE html>
<html ng-app="ontelsite">
<head>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,300italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="foundation.css" />
    <link rel="stylesheet" href="normalize.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-animate.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.4/angular-filter.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="animate.css">
    <link rel="stylesheet" type="text/css" href="slick.css">
    <script src="https://maps.googleapis.com/maps/api/js?&sensor=false;callback=Initialize"></script>
    <script src="app.js"></script>
    <script src="waypoints.min.js"></script>
    <script src="js/jquery.dropdown.js"></script>
    <script src="js/modernizr.custom.63321.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/jquery.equalheights.js"></script>
    <!--<script src="js/foundation/foundation.js"></script>-->
    <!--<script src="js/foundation/foundation.equalizer.js"></script>-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="ontel-favicon.png" />
    <title>Ontel </title>
    <script>

        $( function() {
            $( '#cd-dropdown' ).dropdown();
            $('.center').slick({
                centerMode: true,
                centerPadding: '60px',
                slidesToShow: 3,
                responsive: [
                    {
                        breakpoint: 768,
                        settings: {
                            arrows: false,
                            centerMode: true,
                            centerPadding: '40px',
                            slidesToShow: 3
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            arrows: false,
                            centerMode: true,
                            centerPadding: '40px',
                            slidesToShow: 1
                        }
                    }
                ]
            });
        });
    </script>
    <meta name="description" content="Ontel is a pioneer in technology solutions and services for the wireless and IoT industries." />
    <meta name="keywords" content="Ontel,wireless,communication,carrier,technology,iot,tower,closeout,construction,project,management,washington" />
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-61953702-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body ng-controller="TopController">
<header class="navhead navfixed" ng-class="{'navactive':mobilenav}">
    <!--<div id="bodywrapper">-->
    <!--<header class="navhead navfixed">-->
    <div class="container">
        <a href="index.html" class="logo">
            <img src="ontellogo.png" alt="Ontel">
        </a>
        <select id="cd-dropdown" class="cd-select" style="display: none;">
            <option value="-1" ng-click="go('/')" selected>Navigation</option>
            <option value="1" ng-click="go('/')" class="homeli">Home</option>
            <option value="2" ng-click="go('/')" class="softwareli">Software</option>
            <!--<option value="3" ng-click="go('/')" class="servicesli">Services</option>-->
            <!--<option value="4" ng-click="go('/')" class="aboutli">Who We Are</option>-->
            <option value="5" ng-click="go('/')" class="contactli">Let's Talk</option>
        </select>
        <ul id="menu" class="topnav">
            <li class="homeli"><a href="" ng-click="go('/')">Home</a></li>
            <li class="softwareli"><a href="" ng-click="go('/')">Software</a></li>
            <!--<li class="servicesli"><a href="" ng-click="go('/')">Services</a></li>-->
            <!--<li class="aboutli"><a href="" ng-click="go('/')">Who We Are</a></li>-->
            <li class="contactli"><a href="" ng-click="go('/')">Let's Talk</a></li>
        </ul>
    </div>
    <div id="menutoggle"><a href ng-click="mobilenav = !mobilenav"><i class="fa fa-bars"></i></a></div>
    <div togglesubnav class="softwarenav">
        <ul class="subnav hidenav">
            <li class="ul"><a href="" ng-click="go('/software/uplink')">Uplink</a><div class="productoption"></div></li>
            <li class="sc"><a href="" ng-click="go('/software/scorecard')">ScoreCard</a><div class="productoption"></li>
            <li class="sa"><a href="" ng-click="go('/software/sweepanalytics')">SweepAnalytics</a><div class="productoption"></li>
        </ul>
    </div>
</header>
    <div class="page {{pageClass}}"ng-view></div>
</body>

</html>