<topnav></topnav>
<div id="" ng-class="{'drop-active': drop}" data-sr-container>
  <div class="product-header closeout">
    <div class="landing-text">Closeout Packages</div>
  </div>
  <div class="product-container">
    <div class="section intro">
      <div class="heading">You give us the specs and raw files. We'll get you and your client paid</div>
      <div class="content">
        <p>
          Ontel is the largest 3rd party provider of closeout services in the U.S and we are growing. The reason our clients choose us is because they trust that we can represent their companies better than anyone else, whether it's advising on market specifications, providing technical and quality related feedback, working on your behald with the client to straighten out market requirements, or building advanced systems to collect and manage all of the data and scheduling our clients trust us with final milestone needed to get paid. 
        </p>
        <p>
          Companies choose us over hiring or traditional outsourcing providers because we bring results that scale up and down at a whim, all at a fixed low-cost. 
        </p>
        <p>
          Our closeout services come with a 100% risk-free offer, try us out, and if we can't compete with your existing resources, or if you don't find our service to your liking, we won't charge a cent.
        </p>
      </div>
    </div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">How can we lead across quality, speed, and cost?</div>
      <div class="content">
        <span>Technology is how we provide the highest quality technical and construction input throughout the closeout process while also leading in speed and cost. We do this through our use of Swift Traces™ and Swift Projects™. Our people matched with this exceptional technology enables us to streamline workflows between remote teams and high-amounts of data. Our specialization in the closeout process allows us to be faster, more focused, and more cost-effective than almost all alternatives.</span>
        <div class="feature-flex col-flex list-with-desc">
          <div>
            <div class="title">Benefits</div>
            <div class="body has-checks-list">
              <ul>
                <li>
                  <i class="icon ion-checkmark"></i>
                  <span>Our C.O.P. services help our customers grow market share</span>
                </li>
                <li>
                  <i class="icon ion-checkmark"></i>
                  <span>Our customers improve cash-flow by billing faster and completing work more profitably</span>
                </li>
              </ul>
            </div>
          </div>
          <div>
            <div class="title">Results</div>
            <div class="body">
              <ul>
                <li>Ontel has less than a 1% rejection rate for 2014-2015 on over 1000+ site projects</li>
                <li>We close out out over 90% of our sites within 24 calendar hours of receiving materials</li>
                <li>We are leaders in 3rd party testing, closeout, and management services</li>
                <li>We set the standard for Verizon in BAWA</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">How it Works</div>
      <div class="content">
        <div class="feature-flex col-flex">
          <div>
            <div class="title">Share Client Requirements and Specifications</div>
            <div class="body">
              <ul>
                <li>Tell us about your project and exchange specification documents which we then distill into a simple, comprehensive market requirement summary</li>
                <li>We seek out an example of a C.O.P. that the client likes or create a gold standard if needed</li>
              </ul>
            </div>
          </div>
          <div>
            <div class="title">Setup the Systems</div>
            <div class="body">
              <ul>
                <li>An environment in Swift Projects is set up and people are invited and oriented to it</li>
                <li>A project is setup in Swift Traces with project specifications programmed to automate sweep processing, validation, and results output</li>
              </ul>
            </div>
          </div>
          <div>
            <div class="title">Execute the Plan</div>
            <div class="body">
              <ul>
                <li>We recieve site information and scheduling</li>
                <li>We review SOW documents for completeness and advise accordingly</li>
                <li>We provide technical and quality assurance of tests and photos</li>
                <li>We close the site within your time requirements</li>
              </ul>
            </div>
          </div>
          <div>
            <div class="title">Optimize Performance</div>
            <div class="body">
              <ul>
                <li>We analyze performance from data generated from punch items and customer feedback, and with this data adapt systems and people to meet expectations</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">Common C.O.P. Deliverables</div>
      <div class="content">
        <span>We verify the accuracy of the deliverables for each of the documents below as applicable to the SOW. We verify whenever possible against as-built data (photos, tests, etc) or the applicable spec document.</span>
        <div class="feature-flex col-flex list-with-desc">
          <div>
            <div class="body">
              <ul>
                <li>QA for tests and photos</li>
                <li>Redline assistance for drawings and RF design</li>
                <li>Carrier and LL specific forms</li>
                <li>Punch-item corrections</li>
                <li>Height Verification Reports</li>
                <li>Antenna Alignment Tool reports</li>
                <li>RET Screenshots and worksheet</li>
                <li>Certifications for equipment and people</li>
                <li>Jobsite safety documents (JSA/JHA)</li>
                <li>Log Book entries</li>
                <li>Site clear confirmations</li>
                <li>Material releases and bills of lading</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">Site Virtualization</div>
      <div class="content">
        <span>
          As part of a closeout for varying construction, scoping, or audit scopes of work, you may need a greater depth of documentation than your typical photo or video C.O.P. set, in these cases Ontel can provide site virtualization services such as HD video and photogrammetry with 3D mapping services.
        </span>
        <div class="feature-flex col-flex list-with-desc">
          <div>
            <div class="body">
              <ul>
                <li>3D high definition cell site renderings</li>
                <li>Point clouds for surveying</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pricing-section">
    <div class="cta">Discover the Ontel Edge</div>
    <div class="pricing-btn" ui-sref="pricing">
      <span>Pricing</span>
      <div class="icon ion-android-arrow-dropright"></div>
    </div>
  </div>
</div>
<site-footer></site-footer>