<topnav></topnav>
<div id="" ng-class="{'drop-active': drop}" data-sr-container>
  <div class="product-header closeout">
    <div class="landing-text">close out Management</div>
	<div class="landing-text-sub">Outsource your C.O.P.</div>
  </div>
  <div class="product-container">
    <div class="section intro">
      <div class="heading">Give us your raw site files and we'll close you out</div>
      <div class="content">
        <p>
         No other company focuses as much on the close out process - it's our specialization in this area that our clients rely on to keep on top of the expanding demands and shortened timelines their customers and operations teams expect. This simple item, the close out package, has the power to make or break your success, and convert bid awarders into your corner - but so many people fail to do close effectively. So we have built a service that does this better than its ever been done before, preventing return visits, and shortening project lifecycles along the way.
        </p>
      </div>
    </div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">Cheaper, Faster, Better - at the same time</div>
      <div class="content">
        <span>Technology is our edge. Our in-house developed software like Swift Projects, along with our portfolio of custom apps automate things like Sweep, Fiber, PIM, Photo, and RET processing and validation and data entry. Our software and in the hands of our experienced technicans introduce a level of accuracy and speed an order of magnitude better than current manual processes and easily compete with traditional implementation management methodologies. Our people, matched with this technological capability, enables us to provide our clients with a critical business solution at the lowest costs possible.</span>
        <div class="feature-flex col-flex list-with-desc">
          <div>
            <div class="title">Benefits</div>
            <div class="body has-checks-list">
              <ul>
                <li>
                  <i class="icon ion-checkmark"></i>
                  <span>Our services get C.O.P.'s in fast and professionally, which helps carriers turn up and close their projects faster.</span>
                </li>
                <li>
                  <i class="icon ion-checkmark"></i>
                  <span>Our customers improve cash-flow by reducing rejections and return visit costs, and by cutting the length of time to invoice acceptance</span>
                </li>
              </ul>
            </div>
          </div>
          <div>
            <div class="title">Results</div>
            <div class="body">
              <ul>
                <li>Ontel is the official COP management company for a number of the leading carriers and General Contractors throughout the U.S</li>
                <li>We close 99% of our sites within 1 business day.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">How it Works</div>
      <div class="content">
        <div class="feature-flex col-flex">
          <div>
            <div class="title">Share Client Requirements and Specifications</div>
            <div class="body">
              <ul>
                <li>Tell us about your project and share your project specification documents
                <li>Provide an example C.O.P. that the customer likes, or we can help to create a gold standard if needed</li>
              </ul>
            </div>
          </div>
          <div>
            <div class="title">Setup the Systems</div>
            <div class="body">
              <ul>
                <li>An environment with your goals, requirements, and processes is then set up in Swift Projects by us</li>
                <li>Depending on your deliverables, we may then start creating custom software applications to automate the processing and validation of key data deliverables like RETS and test results etc.</li>
              </ul>
            </div>
          </div>
          <div>
            <div class="title">Execute the Plan</div>
            <div class="body">
              <ul>
                <li>We receive site information and scheduling in Swift and ensure any SOW specific items are identified in the tasks</li>
				<li>We review site information for discrepancies for items like RF-related requirements for example</li>
                <li>We receive and review your raw files in Swift and advise on their accuracy and completeness</li>
                <li>We compile and validate C.O.P., complete necessary documents, and upload to client portal</li>
                <li>When rejections occur, we document them and incorporate into Swift Projects to prevent them from occuring in the future</li>
              </ul>
            </div>
          </div>
          <div>
            <div class="title">Optimize Performance</div>
            <div class="body">
              <ul>
                <li>We analyze performance by looking at key metrics such as how long it takes to receive raw data from the field, time taken to compile, QA issues, etc</li>
				<li>We then present our findings and solutions and come up with a plan of action to optimize performance</li>
				<li>This process is repeated at set intervals based on work volume and rates of KPI failures </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">Common C.O.P. Deliverables</div>
      <div class="content">
        <span>Included in this service is our consultation to get scope specific items into the workflow within Swift Projects. Also included in our price is the typical mini-C.O.P. package many carriers expect on either the same day of construction completion or soon thereafter. This list is not exhaustive, however here are the main items we manage on your behalf. This management entails the review, reporting, and processing necessary to take raw files from testing equipment, cameras, and other sources to C.O.P acceptance.</span>
        <div class="feature-flex col-flex list-with-desc">
          <div>
            <div class="body">
              <ul>
                <li>Fiber, Sweep, and PIM test results</li>
                <li>Photos</li>
                <li>Carrier and LL specific forms related with the scope of work</li>
                <li>Punch-item correction tracking and submittal</li>
                <li>Height Verification form</li>
                <li>Antenna Alignment Tool form</li>
                <li>RET Screenshots and worksheet</li>
				<li>RF design and construction drawing annotation</li>
                <li>Equipment and personnel certifications</li>
                <li>Jobsite safety documents (JSA/JHA)</li>
                <li>Log Book entries</li>
                <li>Site "clear" confirmation</li>
                <li>Material releases and bills of lading</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">Site Virtualization and Drone Surveying</div>
      <div class="content">
        <span>
          As part of a close out for various construction, scoping, or audit scopes of work, you may need a greater depth of documentation than your typical photo or video C.O.P. set can provide. This may include a drone audit, photogrammetry, pointclouds etc. We advise and help our clients perform these new types of services, so don't hesitate to ask us how to incorporate this into your portfolio and begin offering them to your clients.
        </span>
        <div class="feature-flex col-flex list-with-desc">
          <div>
            <div class="body">
              <ul>
                <li>Drone audits</li>
                <li>Photogrammatic Point clouds</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pricing-section">
    <div class="cta">Discover the Ontel Edge</div>
    <div class="pricing-btn" ui-sref="pricing">
      <span>Pricing</span>
      <div class="icon ion-android-arrow-dropright"></div>
    </div>
  </div>
</div>
<site-footer></site-footer>