<topnav></topnav>
<div id="" ng-class="{'drop-active': drop}" data-sr-container>
  <div class="product-header closeout">
    <div class="landing-text">close out Management</div>
  </div>
  <div class="product-container">
    <div class="section intro">
      <div class="heading">Give us the project specs and your raw site files and We'll help get you paid faster</div>
      <div class="content">
        <p>
          We started Ontel on the premise that we could make closing out better for our clients, and for 3 years we've existed because of our ability to make that happen. We are about handing over a package to your client that reflects professionlism, and helps you raise the standard bar to a level your competition can't reach. If you don't want to go back to site for missing items and punch issues, or if you'd like to signal to your client that you're ready for more work, then we have solutions. 
        </p>
        <p>
         No other company focuses as much on the close out process, and the advantages gained from this specialization keeps our clients on top of the expanding demands and shortened timelines their customers expect. It pays  off in bigger market share and improved cash-flow. Our C.O.P. management services are perfect for large volume projects with demanding timelines, and scale up and down with demand to augment your construction and project management resources as needed with no commitment. 
        </p>
        <p>
          Our close out management services come with a risk-free proposition. We offer your first package at no cost so you can get to know that we are committed to our clients taking less risk when they work with us than any other solution, and we are willing to prove that we can deliver on that.
        </p>
      </div>
    </div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">How can we lead across quality, speed, and cost?</div>
      <div class="content">
        <span>Technology is how we provide the highest quality technical and construction input throughout the close out process while also leading in speed and cost. We do this through our use of Swift Traces™ and Swift Projects™, where we automate the processing of Anritsu sweep test data, and centralize project files and workflows into a GUI interface that's smart, and easy to use. We also create custom project specific scripts and applications that deal with data transfer between differently formatted data, for example we've automated AT&T's RET value forms, as well as the data entry of test values into Verizon Wireless' RF Summary in the Baltimore/Washington market. Our people, matched with this exceptional technological capability enables us to streamline the processing of high-amounts of data and close projects faster than anyone else.</span>
        <div class="feature-flex col-flex list-with-desc">
          <div>
            <div class="title">Benefits</div>
            <div class="body has-checks-list">
              <ul>
                <li>
                  <i class="icon ion-checkmark"></i>
                  <span>Our services get C.O.P.'s in fast, which helps our clients grow market share by signalling to their customer that you're ready for more</span>
                </li>
                <li>
                  <i class="icon ion-checkmark"></i>
                  <span>Our customers improve cash-flow by reducing costs, time to invoice, and by completing work more profitably through return visit reduction</span>
                </li>
              </ul>
            </div>
          </div>
          <div>
            <div class="title">Results</div>
            <div class="body">
              <ul>
                <li>Ontel has less than a 5% rejection rate for 2014-2016 on over 1500+ site projects, this includes rejections due to undocumented requirements </li>
                <li>We close out over 90% of our sites within 24 calendar hours of receiving raw files, this includes clients that do not us Swift Projects for photo management</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">How it Works</div>
      <div class="content">
        <div class="feature-flex col-flex">
          <div>
            <div class="title">Share Client Requirements and Specifications</div>
            <div class="body">
              <ul>
                <li>Tell us about your project and share your project specification documents
                <li>Provide an example C.O.P. that the customer likes, or we can help to create a gold standard if needed</li>
              </ul>
            </div>
          </div>
          <div>
            <div class="title">Setup the Systems</div>
            <div class="body">
              <ul>
                <li>An environment with your goals, requirements, and processes is then set up in Swift Projects</li>
                <li>Depending on your deliverables, we may then start creating custom software applications to automate the processing and validation of key data deliverables like RETS and test results</li>
              </ul>
            </div>
          </div>
          <div>
            <div class="title">Execute the Plan</div>
            <div class="body">
              <ul>
                <li>We receive site information and scheduling and ensure any SOW specific items are identified in Swift Projects</li>
                <li>We receive and review your raw files and advise on their accuracy and completeness</li>
                <li>We compile and validate C.O.P., complete necessary documents, and upload to client portal</li>
                <li>If rejections occur, we document them and incorporate it into Swift Projects to prevent them from occuring in the future</li>
              </ul>
            </div>
          </div>
          <div>
            <div class="title">Optimize Performance</div>
            <div class="body">
              <ul>
                <li>We analyze performance by looking at key metrics such as how long it takes to receive raw data from the field, time taken to compile, QA, etc</li>
				<li>We then present our findings and solutions and come up with a plan of action to optimize performance</li>
				<li>This process is repeated at set intervals based on work volume and project timelines</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">Common C.O.P. Deliverables</div>
      <div class="content">
        <span>We check all deliverables for completeness and accuracy. We verify whenever possible against as-built data (photos, tests, etc) or the applicable spec document, and advise on common punch item issues. Included in our price is the typical mini-C.O.P. package many carriers expect on either the same day of construction completion or soon thereafter. For all of the elements below, we check for completeness, accuracy, and advise on quality related matters.</span>
        <div class="feature-flex col-flex list-with-desc">
          <div>
            <div class="body">
              <ul>
                <li>Fiber, Sweep, and PIM tests</li>
                <li>RF design and construction drawing red-lines</li>
                <li>Carrier and LL specific forms related with the scope of work</li>
                <li>Punch-item correction tracking and submittal</li>
                <li>Height Verification report</li>
                <li>Antenna Alignment Tool report</li>
                <li>RET Screenshots and worksheet</li>
                <li>Certifications for equipment and people</li>
                <li>Jobsite safety documents (JSA/JHA)</li>
                <li>Log Book entries</li>
                <li>Site clear confirmations</li>
                <li>Material releases and bills of lading</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">Site Virtualization</div>
      <div class="content">
        <span>
          As part of a close out for varying construction, scoping, or audit scopes of work, you may need a greater depth of documentation than your typical photo or video C.O.P. set, such as a drone flyover, photogrammetry, etc. We advise and help our clients meet these new demands, don't hesitate to ask about how to accommodate for these new types of requirements.
        </span>
        <div class="feature-flex col-flex list-with-desc">
          <div>
            <div class="body">
              <ul>
                <li>Drone audits</li>
                <li>Photogrammatic Point clouds</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pricing-section">
    <div class="cta">Discover the Ontel Edge</div>
    <div class="pricing-btn" ui-sref="pricing">
      <span>Pricing</span>
      <div class="icon ion-android-arrow-dropright"></div>
    </div>
  </div>
</div>
<site-footer></site-footer>