<topnav></topnav>
<div id="" ng-class="{'drop-active': drop}" data-sr-container>
  <div class="product-header gear">
    <div class="landing-text">Gear</div>
  </div>
  <div class="product-container">
    <div class="section intro">
      <div class="content">
        OnPacks™ are heavy-duty Pelican backpacks filled with the items your teams need to close out in real-time.
      </div>
    </div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">What's inside?</div>
      <div class="content">
        <span>OnPacks are composed of the following:</span>
        <ul>
          <li>
            Large screen current model smartphone
          </li>
          <li>
            Touch screen compact laptop loaded with remote access software for back-office login and support of closeout
          </li>
          <li>
            Router and Modem for LTE connectivity and test unit networking
          </li>
          <li>
            Portable battery supply
          </li>
          <li>
            USB Sticks
          </li>
          <li>
            SD Cards
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">How it Works</div>
      <div class="content feature-flex col-flex">
        <div>
          <div class="body">1. Tell us how many you need and when</div>
        </div>
        <div>
          <div class="body">2. We handle the cellular and data plans</div>
        </div>
        <div>
          <div class="body">3. We replace the contents every 2 years or as necessary. You handle replacement cost at the value of the item at the time of damage (saves customers money).</div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">Why do we do it?</div>
      <div class="content">
        We perform the gear outfitting simply because we know how much of a hassle finding, maintaining, and managing phones and computers can be. We’ve tried to provide access to this equipment at near cost because we believe giving our clients access to high quality hardware is critical to their success and ours.
      </div>
    </div>
  </div>
  <!--<div class="pricing-section">
    <div class="cta">Close Out with the latest tech</div>
    <div class="pricing-btn" ui-sref="pricing">
      <span>Pricing</span>
      <div class="icon ion-android-arrow-dropright"></div>
    </div>
  </div>-->
</div>
<site-footer></site-footer>