<topnav></topnav>
<div id="fullpage" ng-class="{'drop-active': drop}" init-fp>
    <section class="section fullview motion-bg landing-slide">
        <div class="video-container" ng-class="{'video-active-shade': showVideo}">
            <div class="filter"></div>
            <video autoplay loop class="fillWidth" id="ontelbg">
                <source src="img/motion/NYC-Traffic.mp4" type="video/mp4" />
                <source src="img/motion/NYC-Traffic.webm" type="video/webm" />
            </video>
            <div class="poster"></div>
        </div>
        <div class="landing-text" ng-class="{'active': showVideo, 'drop-active': drop}">
            <div class="landing-animated ">
                <!--fadeInDown-->
                <img src="img/ontel-logo-text-white.svg" alt="Ontel">
            </div>
            <div class="landing-subtext ">
                <div>
                    <div>Closeout</div>
                    <div>Management</div>
                </div>
                <div>
                    <div>Software</div>
                </div>
            </div>
        </div>
    </section>
    <section class="sections plan section left">
        <div class="section-content">
            <div class="heading">
                <div class="head">Closeout Specialists</div>
                <div class="sub">Closeout Management starting at $199 per site-project.</div>
            </div>
            <div class="body">For too long people in telecommunications have said "you can't have it cheaper, faster, and better", and until Ontel, they've been mostly right. But with over 1500+ site-projects completed since our founding, we are here to say that with the right technology and people, it is possible to get perfection without expense to profit. We'll show you how.</div>
        </div>
        <div class="cta-container">
            <div class="cta" ui-sref="closeout">Closeout <i class="icon ion-android-arrow-dropright"></i></div>
            <div class="cta" ui-sref="management">MGMT <i class="icon ion-android-arrow-dropright"></i></div>
        </div>
    </section>
    <section class="sections run section right">
        <div class="section-content ">
            <div class="heading">
                <div class="head">Automation for Everyone</div>
                <div class="sub">Software for Wireless Contractors</div>
            </div>
            <div class="body">Swift Projects™ is the most powerful mobile and desktop management software platform built specifically for wireless general contractors and telecommunications projects. With Swift, users QA and closeout live, get instant stats and statuses, schedule teams, manage documents, focus conversations, and most importantly - prevent surprises. <span class="swift-cta">Find out more about how Swift streamlines operations and eliminates excuses.</span></div>
        </div>
        <div class="cta" ui-sref="swift">Swift Projects <i class="icon ion-android-arrow-dropright"></i></div>
    </section>
</div>