<topnav></topnav>
<div id="fullpage" ng-class="{'drop-active': drop}" init-fp>
    <section class="section fullview motion-bg landing-slide">
        <div class="video-container" ng-class="{'video-active-shade': showVideo}">
            <div class="filter"></div>
            <video autoplay loop class="fillWidth" id="ontelbg">
                <source src="img/motion/NYC-Traffic.mp4" type="video/mp4" />
                <source src="img/motion/NYC-Traffic.webm" type="video/webm" />
            </video>
            <div class="poster"></div>
        </div>
        <div class="landing-text" ng-class="{'active': showVideo, 'drop-active': drop}">
            <div class="landing-animated ">
                <!--fadeInDown-->
                <img src="img/ontel-logo-text-white.svg" alt="Ontel">
            </div>
            <div class="landing-subtext ">
                <div>
                    <div>Closeout</div>
                    <div>Management</div>
                </div>
                <div>
                    <div>Software</div>
                </div>
            </div>
        </div>
    </section>
    <section class="sections plan section left">
        <div class="section-content">
            <div class="heading">
                <div class="head">We are Closeout Specialists</div>
                <div class="sub">Closeout Management that gets you paid, Starting at $199 per site-project.</div>
            </div>
            <div class="body">For too long people have said that you can't have it cheaper, faster, and better all at the same time. To their credit, throughout the years they've been mostly right, but the days where we had to accept this notion are now over. We've reached a new era of connectivity and technology where what was once the norm, is now out of the window. Ontel and its clients are at the forefront of this change, where since our founding we've been trusted with over 1500+ site-projects closeouts all done cheaper, faster, and better at the same time, proof that with great people and technology, it is possible to have it all. We'll show you how.</div>
        </div>
        <div class="cta-container">
             <div class="cta" ui-sref="closeout">Closeout<i class="icon ion-android-arrow-dropright"></i></div> 
        </div>
    </section>
    <section class="sections run section right">
        <div class="section-content ">
            <div class="heading">
                <div class="head">Closeout Software</div>
                <div class="sub">The most powerful closeout software in the world, that even mom and pop can use.</div>
            </div>
            <div class="body">Swift Projects™ is simply the best way to manage and close telecommunication projects for general contractors and egineering firms. We've combined products like SharePoint and Dropbox, and added innovation found no where else together to make a mobile friendly, robust, software platform built specifically for wireless projects that allows users to organize complex projects, enable teams to QA complete work, submit closeout photos and videos live, get instant stats and statuses, schedule teams, manage documents, chat, and so much more. <span class="swift-cta">Find out more about how Swift can deliver profit to your project.</span></div>
        </div>
        <div class="cta" ui-sref="swift">Swift Projects <i class="icon ion-android-arrow-dropright"></i></div>
    </section>
</div>