<topnav></topnav>
<div id="fullpage" ng-class="{'drop-active': drop}" init-fp>
    <section class="section fullview motion-bg landing-slide">
        <div class="video-container" ng-class="{'video-active-shade': showVideo}">
            <div class="filter"></div>
            <video autoplay loop class="fillWidth" id="ontelbg">
                <source src="img/motion/tower.mp4" type="video/mp4" />
                <!--<source src="img/motion/NYC-Traffic.webm" type="video/webm" />-->
            </video>
            <div class="poster"></div>
        </div>
        <div class="landing-text" ng-class="{'active': showVideo, 'drop-active': drop}">
            <div class="landing-animated ">
                <!--fadeInDown-->
                <img src="img/ontel-logo-text-white.svg" alt="Ontel">
            </div>
            <div class="landing-subtext ">
                <div>
                    <div>C.O.P.</div>
                    <div>MGMT</div>
                </div>
                <div>
                    <div>Software</div>
					<div>Telecom</div>
                </div>
            </div>
        </div>
    </section>
    <section class="sections plan section left">
        <div class="section-content">
            <div class="heading">
                <div class="head">We are Close Out Specialists</div>
                <div class="sub">From the field, to your customer within 24 hours</div>
            </div>
            <div class="body">With our industry leading close out software, custom scripts, and internal apps, Ontel can manage the C.O.P. lifecycle with unparalleled accuracy, speed, and cost. Our C.O.P. services are comprehensive, taking raw files and photos from the field and processing this data to meet carrier specifications and timelines in near real-time. We are trusted by industry leading carriers and contractors throughout the U.S to analyze, validate, and close their telecommunication projects faster and better. There is no other company in the industry that closes as many sites as fast and accurately as Ontel.  </div>
        </div>
        <div class="cta-container">
             <div class="cta" ui-sref="closeout">close out MGMT <i class="icon ion-android-arrow-dropright"></i></div> 
        </div>
    </section>
    <section class="sections run section right">
        <div class="section-content">
            <div class="heading">
                <div class="head">close out Software</div>
                <div class="sub">The most powerful close out software in the world.</div>
            </div>
            <div class="body">Swift Projects™ allows operators and site-development firms to scale and increase the speed and structure at which they collaborate and close their projects. It's a mobile friendly, robust, software platform built specifically for running wireless projects and collecting all of the data necessary to close them along they way. Take the first steps toward automating your excuses away. 
			<span class="swift-cta">Find out more about how Swift Projects makes closing out and running your projects better.</span></div>
        </div>
        <div class="cta" ui-sref="swift">Swift Projects <i class="icon ion-android-arrow-dropright"></i></div>
    </section>
</div>