<topnav></topnav>
<div id="" ng-class="{'drop-active': drop}">
  <div class="product-header mgmt">
    <div class="landing-text">MGMT Services</div>
	<div class="landing-text-sub">Telecommunication Site Development</div>
  </div>
  <div class="product-container">
    <div class="section intro">
      <div class="content">
        New build to in building, overlay to backhaul, urban or remote, we've been a part of some of the coolest projects from Lihue to Long Island. Whatever your scope of work, if it involves getting a site from concept to on-air, we can help.
      </div>
    </div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">MGMT Services</div>
      <div class="content">
        <div style="">We help our clients with project and construction management for site development programs on telecommunication network build-outs through all its phases. If you're looking for a unique, and innovative partner to bring something new to the process, then we can be of particular help. We can't solve all the problems inherent with large ambitious projects, but most of them can be with better data management, software, and great people.</div>
        <div class="feature-flex testing-intro-list">
          <div>
            <div class="body">Site Dev from RF, RE, and CX - all phases.</div>
          </div>
          <div>
            <div class="body">Site scope and BOM development</div>
          </div>
          <div>
            <div class="body">Vendor sourcing and management</div>
          </div>
          <div>
            <div class="body">Project and construction mangement</div>
          </div>
          <div>
            <div class="body">Technical and construction quality assurance</div>
          </div>
          <div>
            <div class="body">Workflow design and automation</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">Why Ontel?</div>
      <div class="content feature-flex">
        <div>
          <div class="title">We are here to help you make more money</div>
          <div class="body">Decreased rejections, faster invoice acceptance, software, people, ideas, these are things your company can have at their disposal for fixed prices that are quoted up front when we work together</div>
        </div>
        <div>
          <div class="title">Ingenuity</div>
          <div class="body">Solutions-based problem solvers with 100% commitment to innovation and improvement</div>
        </div>
        <div>
          <div class="title">Cost Savings</div>
          <div class="body">Lower-cost alternative to recruitment, hiring, and on-boarding</div>
        </div>
        <div>
          <div class="title">Flexibility</div>
          <div class="body">Fixed-price and retainer-based services that blend flexibility and cost</div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">Recent Project Highlights</div>
      <div class="content project-container">
        <div class="project" ng-repeat="project in projects">
          <div class="title">
            <div>{{project.client}}</div>
            <div>
              <div><i class="icon ion-ios-calendar"></i> {{project.when}}</div>
              <div><i class="icon ion-ios-location"></i> {{project.where}}</div>
            </div>
          </div>
          <div>
            <div>SOW:</div>
            <div>{{project.sow}}</div>
          </div>
          <div>
            <div>When:</div>
            <div>{{project.when}}</div>
          </div>
          <div>
            <div>Where:</div>
            <div>{{project.where}}</div>
          </div>
          <div>
            <div>Description:</div>
            <div>{{project.description}}</div>
          </div>
        </div>
        <div class="project">
          <div class="title">OLDER COMPLETED PROJECTS</div>
          <ul>
            <li>
              Verizon NSB SE
            </li>
            <li>
              Alcatel-Lucent Sprint Network Vision National Project Management
            </li>
            <li>
              Ericsson T-Mobile Modernization FOA/NPI Implementation (Las Vegas)
            </li>
            <li>
              Ericsson T-Mobile Southwest U1900 deployment (Las Vegas, Albuquerque, El Paso)
            </li>
            <li>
              Ericsson AT&T Hawai’i Multi Carrier Overlay
            </li>
            <li>
              Ericsson T-Mobile UMTS NYC and Outer Boroughs
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<site-footer></site-footer>