<topnav></topnav>
<div id="" ng-class="{'drop-active': drop}">
  <div class="product-header pricing">
    <div class="landing-text">Pricing</div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">Swift Projects™</div>
      <div class="content">
        <div class="feature-flex col-flex">
          <div>
            <div class="body">
              <ul>
                
                <li><span class="price-emphasis">$99</span> per month for up to 10 managed users and unlimited guests - includes 1TB of data</li>
				<li><span class="price-emphasis">Free</span> organization setup and orientation for small businesses of 10 users or less</li>
				<li><span class="price-emphasis">Free</span> project template design by an experienced telecommunications manager for your first project</li>
				<li><span class="price-emphasis">Free</span> your 1st month trial of Swift Projects for your team</li>
				<li><span class="price-emphasis">Free</span> e-mail, phone, and chat support</li>
				<li><span class="price-emphasis">Contact Us</span> for quotes on additional users and data</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">Close Out Management</div>
      <div class="content">
        <div class="feature-flex col-flex list-with-desc">
          <div>
            <div class="body">
              <ul>
                <li><span class="price-emphasis">$225</span> per C.O.P. without your use of Swift Projects, for all carriers</li>
				<li><span class="price-emphasis">$199</span> per C.O.P. with your use of Swift Projects, for all carriers</li> 
                <li><span class="price-emphasis">$75</span> per L.L. package. Landlord packages are in addition to the C.O.P. for the carrier (Crown, SBA, ATC, etc.)</li>
                <li><span class="price-emphasis">$40</span> per revision round. This fee is applied for each round of revisions based on undocumented requirements from the customer, punch-item corrections, or missing files upon reporting to Ontel a site is ready for close out</li>
				<li><span class="price-emphasis">Free</span> for your first C.O.P.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">Quoted Prices</div>
      <div class="content">
        We quote all site development and implementation services as detailed on our MGMT solutions page.
      </div>
    </div>
  </div>
  <div class="pricing-section">
    <div class="cta">Interested? We'd love to hear from you</div>
    <a class="pricing-btn" href="mailto:hello@ontel.co?subject=Inquiry" style="color: #fff !important; width: 210px;">
      <span>hello@ontel.co</span>
      <div class="icon ion-ios-paperplane"></div>
    </a>
  </div>
</div>
<site-footer></site-footer>