<topnav></topnav>
<div id="" ng-class="{'drop-active': drop}">
  <div class="product-header pricing">
    <div class="landing-text">Pricing</div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">Swift Projects™</div>
      <div class="content">
        <div class="feature-flex col-flex">
          <div>
            <div class="body">
              <ul>
                
                <li><span class="price-emphasis">$25</span> per active site-project per month. Includes 1TB of data and unlimited users. Volume discounts are available.</li>
				<li><span class="price-emphasis">Free</span> organization setup and orientation for small businesses of 10 users or less.</li>
				<li><span class="price-emphasis">Free</span> project template design by an experienced telecommunications manager for your first project.</li>
				<li><span class="price-emphasis">Free</span> 1-month trial of Swift Projects.</li>
				<li><span class="price-emphasis">Free</span> e-mail, phone, and chat support.</li>
				<li><span class="price-emphasis">Contact Us</span> for quotes on special setups and pricing.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">Close Out Management</div>
      <div class="content">
        <div class="feature-flex col-flex list-with-desc">
          <div>
            <div class="body">
              <ul>
                <li><span class="price-emphasis">$225-300</span> per carrier C.O.P. We will take volume, scope, and commitment in mind to provide the best price for your specific need.</li>
                <li><span class="price-emphasis">$75</span> per L.L. package, Regulatory form, and other add-ons.</li>
                <li><span class="price-emphasis">$40</span> per revision round. This fee is applied for each round of revision based on undocumented requirements from the customer, punch-item corrections, or missing files.</li>
				<li><span class="price-emphasis">Free</span> for your first C.O.P.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">Quoted Prices</div>
      <div class="content">
       All site development and implementation management services as referenced on or MGMT page are quoted or bid upon request. We are happy to provide a clear and value driven response to requests for quotation.  
      </div>
    </div>
  </div>
  <div class="pricing-section">
    <div class="cta">Interested? We'd love to hear from you</div>
    <a class="pricing-btn" href="mailto:hello@ontel.co?subject=Inquiry" style="color: #fff !important; width: 210px;">
      <span>hello@ontel.co</span>
      <div class="icon ion-ios-paperplane"></div>
    </a>
  </div>
</div>
<site-footer></site-footer>