<topnav></topnav>
<div id="" ng-class="{'drop-active': drop}">
  <div class="product-header pricing">
    <div class="landing-text">Pricing</div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">Swift Projects™</div>
      <div class="content">
        <div class="feature-flex col-flex">
          <div>
            <div class="body">
              <ul>
                <li>Free initial organization setup and orientation for small businesses of 20 users or less</li>
                <li><span class="price-emphasis">$99 per month</span> for up to 20 managed users and unlimited guests - includes 1TB of data per user</li>
				<li><span class="price-emphasis">Contact us</span> for quotes on additional users and data</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">Closeout Packages</div>
      <div class="content">
        <div class="feature-flex col-flex list-with-desc">
          <div>
            <div class="body">
              <ul>
                <li><span class="price-emphasis">$225 - per C.O.P without Swift Projects</span> Per-site project without your use of Swift Projects for all carriers.</li>
				<li><span class="price-emphasis">$199 - per C.O.P with Swift Projects</span> Per-site project with your use of Swift Projects for all carriers. Included in this price is our setup of the per site-project requirements based on the S.O.W. 
                <li><span class="price-emphasis">$74 per LL Package</span> Landlord packages are in addition to the C.O.P for the carrier (Crown, SBA, ATC, etc.).</li>
                <li><span class="price-emphasis">$39 per revision round</span> Fee for each round of revisions based on undocumented requirements from the customer, punch-item corrections, or missing files upon reporting to Ontel a site is ready for closeout </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">Quoted Prices</div>
      <div class="content">
        The amount of services we provide, along with factors such as project specific requirements, and scheduling could lead to discounts or additional charges which we will discuss based on project setup.
      </div>
    </div>
  </div>
  <div class="pricing-section">
    <div class="cta">Interested? We'd love to hear from you</div>
    <a class="pricing-btn" href="mailto:hello@ontel.co?subject=Inquiry" style="color: #fff !important; width: 210px;">
      <span>hello@ontel.co</span>
      <div class="icon ion-ios-paperplane"></div>
    </a>
  </div>
</div>
<site-footer></site-footer>