<topnav></topnav>
<div id="" ng-class="{'drop-active': drop}">
  <div class="product-header support">
    <div class="landing-text">FAQ</div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">Swift Projects</div>
      <div class="content feature-flex col-flex">
        <div class="utility-buttons">
          <div class="" ui-sref="swift-tos">Terms of Service</div>
          <div class="" ui-sref="swift-privacy">Privacy Policy</div>
        </div>
        <div>
          <div class="title">User Management</div>
          <div class="body">
            <div>Q: We want to add new users, how do we do this?</div>
            <div>A: Because we’re in beta, we would ask that if you want to add users you contact us. In the near future we will make it possible to do from within the app.</div>
          </div>
        </div>
        <div>
          <div class="title">File Uploads</div>
          <div class="body">
            <div>Q: What is the largest file size we can upload?</div>
            <div>A: We recommend to keep single files less than 250mb at this time, we’re working on making larger single files possible.</div>
          </div>
        </div>
        <div>
          <div class="title">Features</div>
          <div class="body">
            <div>Q: What future features are you introducing to Swift Projects?</div>
            <div>A: Time tracking, forms, data tags, GPS based services, and a public API</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<site-footer></site-footer>