<topnav></topnav>
<div id="" ng-class="{'drop-active': drop}" data-sr-container>
  <div class="product-header swift">
    <div class="landing-text">Swift Projects</div>
    <div class="landing-text-sub">C.O.P. Software and Beyond</div>
    <!--<div class="video-container">-->
      <!--<video autoplay loop class="fillWidth" id="ontelbg">-->
        <!--<source src="https://s3.amazonaws.com/bcm-static/static/encoded/r2-1080p/winter_one.mp4" type="video/mp4" />-->
      <!--</video>-->
    <!--</div>-->
  </div>
  <div class="product-container desktop-display">
    <div class="section intro">
      <div class="heading">Can you afford another rejection or delay?</div>
		<div class="content">
			<p>Swift Projects puts the power to close wireless construction projects on the day of construction completion into the palm of your hand. Our system is all about capturing the details and emphasizing mobility and automation. Simply put, with Swift Projects, your company can move away from manual close out processes and into a near real time, semi-automated, mobile-first environment that helps you complete projects with accuracy and speed.
			<p>
		</div>
		<div class="content">
			<p>Swift Projects is built on Amazon S3 and Google services with a modern software stack that glues it all together, ensuring that your data is secure, your team is mobile, and your company is plugged into live updates and priorities. To prove how confident we are that Swift Projects will change your close out game, we are offering a complimentary template design service paired with a 1 month free trial that we'd like to offer to help you with your toughest project.
			<p>
		</div>
      <a class="get-started" href="https://swiftprojects.io">
        <span>Get Started</span>
      </a>
    </div>
    <img src="img/swift/full.png" class="desktop">
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">Close Out Projects Live</div>
      <div class="content feature-flex">
        <div>
          <div class="title">Access Anywhere</div>
          <div class="body">Accessible on iOS, Android, and desktop, allowing team members to contribute from the field or office easily</div>
        </div>
        <div>
          <div class="title">Real-Time Updates</div>
          <div class="body">Live updates on statuses, stats, and scheduling allow the team to move faster and react instantly</div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">More Profit, Less Pain</div>
      <div class="content feature-flex">
        <div>
          <div class="title">Live Approvals</div>
          <div class="body">QA completed work live and reject or approve as necessary to prevent return visits and close instantly</div>
        </div>
        <div>
          <div class="title">Automatic Tracking</div>
          <div class="body">Smart tasks that liberate teams from tracking statuses so people get the information they need without asking</div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">Evolve at the speed of innovation</div>
      <div class="content feature-flex">
        <div>
          <div class="title">Templates</div>
          <div class="body">Design workflow templates to automate the management of any project with as little as your phone and a moment of time</div>
        </div>
        <div>
          <div class="title">Simplicity</div>
          <div class="body">If you can create a list, we can turn you into a workflow automation engineer</div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">Connect and put collaboration on hyper speed</div>
      <div class="content feature-flex">
        <div>
          <div class="title">System</div>
          <div class="body">Our system is simple: we use milestones, tasks, and requirements as the building blocks of any project</div>
        </div>
        <div>
          <div class="title">Organizations</div>
          <div class="body">Create teams, manage people, and control access to what’s seen and done with peace of mind</div>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-displays">
    <div>
      <img src="img/swift/1.PNG">
      <img src="img/swift/2.PNG">
      <img src="img/swift/3.PNG">
      <img src="img/swift/4.PNG">
    </div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">Deeper conversations with less digging</div>
      <div class="content feature-flex">
        <div>
          <div class="title">Annotate</div>
          <div class="body">With our on-topic messaging, you know exactly where conversations are when you need them</div>
        </div>
        <div>
          <div class="title">Callouts</div>
          <div class="body">Include teammates into the discussion by using “@” in front of their names to direct your messages and get answers fast</div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">Keep your favorite toys</div>
      <div class="content feature-flex">
        <div>
          <div class="title">Integrations</div>
          <div class="body">With 20+ integrations with services like Excel, Box, Dropbox, Google Drive, Gmail, your favorite tools play together</div>
        </div>
        <div>
          <div class="title">Power Tools</div>
          <div class="body">Data tags, forms, import and export with Excel, template cloning, calendar, priority list, activity feeds, and more </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">A web of files with no tangles</div>
      <div class="content feature-flex">
        <div>
          <div class="title">Automate File Management</div>
          <div class="body">Create smart file requirements that automate the management of every photo, file, and document, while securing, sharing, and backing up your data</div>
        </div>
        <div>
          <div class="title">Smarter Lists</div>
          <div class="body">Live search with schedule and status based filtering keeps your view focused on your priorities easily</div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">Be data driven</div>
      <div class="content feature-flex">
        <div>
          <div class="title">Metrics</div>
          <div class="body">With our instant reports and expanding data sets, you can measure, analyze, and improve performance with live information on anything you want to track</div>
        </div>
        <div>
          <div class="title">Home Screen</div>
          <div class="body">Your tasks and others that you care about collected in one spot, displayed with the latest status and schedule in one simple list</div>
        </div>
      </div>
    </div>
  </div>
  <div class="pricing-section">
    <div class="cta">Forget what excuses sound like</div>
    <div class="pricing-btn" ui-sref="pricing">
      <span>Pricing</span>
      <div class="icon ion-android-arrow-dropright"></div>
    </div>
  </div>
</div>
<site-footer></site-footer>