<topnav></topnav>
<div id="" ng-class="{'drop-active': drop}">
  <div class="product-header testing">
    <div class="landing-text">Testing Services</div>
  </div>
  <div class="product-container">
    <div class="section intro">
      <div class="heading">PIM | SWEEP | FIBER | RET</div>
      <div class="content">
        <p>
          Ontel’s technical services allow our clients to scale on demand. We provide technicians and testing equipment for on-site and remote testing. Our services allow construction teams to focus on building higher quality sites with less return visits.
        </p>
      </div>
    </div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">Benefits</div>
      <div class="content feature-flex has-checks testing-intro-list">
        <div>
          <i class="icon ion-checkmark"></i>
          <div class="body">Offload equipment costs and management</div>
        </div>
        <div>
          <i class="icon ion-checkmark"></i>
          <div class="body">Technical leadership and resources on-demand</div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-container">
    <div class="section">
      <div class="heading">How it Works</div>
      <div class="content feature-flex col-flex">
        <div>
          <div class="title">1. Share Client Requirements and Specifications</div>
          <div class="body">Tell us about your project and exchange specification documents which we then distill into a simple, comprehensive market requirement summary. We will note any gaps in the requirements and work with you to convey and address any issues regarding specifications.</div>
        </div>
        <div>
          <div class="title">2. Schedule our resources</div>
          <div class="body">Tell us when and where we are needed.</div>
        </div>
        <div>
          <div class="title">3. Execute</div>
          <div class="body">Ontel technician provides on-site or remote testing, along with coordinating outages, communicating with customer technicians as needed, and generally alleviating your foreman and crew to focus on workmanship and installation tasks.</div>
        </div>
        <div>
          <div class="title">4. Deliver</div>
          <div class="body">We turn a test package over based on your time requirements.</div>
        </div>
      </div>
    </div>
  </div>
</div>
<site-footer></site-footer>